footer {
    background: #161515;
    color: #6a6a6a;
}

.footer-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px 0;
    text-align: center;
}

.footer-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.footer-nav ul {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0;
    list-style: none;
    text-align: left;
}

.footer-nav ul li {
    height: 48px;
    line-height: 48px;
}

.footer-nav ul li:first-child {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

/*About Us*/

.about-us li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    border-bottom: none;
}

/*Buy Online*/

.buy-online li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    border-bottom: none;
}

/*Cooperation*/

.cooperation li:nth-child(2) a {
    text-decoration: none;
    color: #fff;
    position: relative;
    border-bottom: none;
}

.icons {
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.icon-tooltip {
    display: inline-block;
    position: relative;
}

.icon-tooltip.telegram-icon {
    color: rgb(102, 102, 102);
}

.icon-tooltip.vk-icon {
    color: rgb(102, 102, 102);
}

.icon {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 48px;
    cursor: pointer;
}

.iconfont {
    font-family: iconfont !important;
    font-style: normal;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}

.code-img {
    position: absolute;
    display: none;
    right: -150px;
    bottom: 8px;
    width: 120px;
    height: 120px;
    background-color: white;
    padding: 5px;
    z-index: 98;
}

.icon-tooltip:hover .code-img {
    display: block;
}

.code-img img {
    width: 100%;
    height: auto;
}

/* .icon-tooltip.icontelegram {
    color: #333333;
}

.icon-tooltip.iconvk {
    color: #333333;
} */

.telegram-icon a {
    text-decoration: none;
    color: #fff;
    position: relative;
    border-bottom: none;
}

.vk-icon a {
    text-decoration: none;
    color: #fff;
    position: relative;
    border-bottom: none;
}

/*About Products*/

.about-products li a {
    text-decoration: none;
    color: #fff;
}

.footer-brand p span {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    color: #6a6a6a;
    height: 21px;
    line-height: 21px;
}

.footer-brand p span a {
    color: #6a6a6a;
}