.slogan-con {
    margin-top: 70px;
    text-align: center;
}

.home-page .container {
    margin: auto;
    padding: 60px;
    width: 1200px;
    margin-top: 0px;
    text-align: center;
}

/* .container {
    margin-top: 0px;
} */

.slogan {
    color: black;
    font-size: 32px;
    height: 67px;
    line-height: 67px;
}

.slogan-btn {
    background-color: rgb(100, 200, 100);
    color: #fff;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    padding: 0 63px;
    border: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(100, 200, 100, .2);
    box-shadow: 0 2px 8px 0 rgba(100, 200, 100, .2);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.slogan-btn:hover {
    background-color: #4CAF50;
    color: white;
}